#header-nav-wrapper {
  border-bottom: 3px solid #fb246a;
}

#header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.06);
  height: 100px;
  padding: 1rem;
  width: 80%;
  margin: 0 auto;
}

#header-navbar-ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
/* #header-navbar-ul li > a {
  color: #000035;
  text-decoration: none;
  font-size: 1.5rem;
  transition: 0.3s ease-in-out;
} */
/* #header-navbar-ul li > a:hover,
#header-navbar-ul li > a.active {
  color: #000035;
} */
#header-navbar-ul li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#header-navbar-ul li a {
  padding: 5px;
}
#header-navbar-ul li a:hover{
  border-bottom: 3px solid #fb246a;
}
/* #header-navbar-ul li a:hover::after,
#header-navbar-ul li a.active::after {
  content: '';
  width: 30%;
  height: 2px;
  background: #000035;
  position: absolute;
  bottom: -4px;
  left: 20px;
} */

#header-mobile{
  display: none;
}

@media (width <= 768px) {
  #header-nav{
    width: 100%;
  }
  #header-mobile {
    display: block;
  }
  #header-navbar-ul {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    position: fixed;
    top: 103px;
    width: 100%;
    right: 0px;
    height: 100vh;
    background-color: #fff;
    border-left: 0px solid #fb246a;
    padding: 40px 0 0 10px;
    transition: 0.5s ease-in-out;
  }
  #header-navbar-ul.active {
    right: -500px;
  }
  #header-navbar-ul li {
    margin-bottom: 25px;
  }

  #header-navbar-ul li button {
    margin-bottom: 10px;
  }
  .header-icon-container:hover {
    cursor: pointer;
  }
}